#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}
.appBarContent {
  position: relative;
  height: 64px;
}

.mainLogo {
  height: 50px;
  position: absolute;
  left: 16px;
  top: 50%;
  transform: translateY(-50%);
}

.centerText {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  margin: 0;
}
