.custom-text-field .MuiOutlinedInput-root {
  color: lightgray;
}
.custom-text-field .MuiOutlinedInput-root fieldset {
  border-color: lightgray;
}
.custom-text-field .MuiOutlinedInput-root:hover fieldset {
  border-color: lightgray;
}
.custom-text-field .MuiOutlinedInput-root.Mui-focused fieldset {
  border-color: lightgray;
}
.ListItemButton {
  border: 1px solid black !important;
}
.ListItemButtonTwo {
  border-bottom: 1px solid rgb(99, 99, 99) !important;
}
.custom-text-field .MuiInputLabel-root {
  color: lightgray;
}
.custom-text-field .MuiInputLabel-root.Mui-focused {
  color: lightgray;
}

.padButtons button {
  margin-right: 10px;
}

.padButtons button:last-child {
  margin-right: 0;
}
