.custom-text-field .MuiOutlinedInput-root {
  color: lightgray;
}
.custom-text-field .MuiOutlinedInput-root fieldset {
  border-color: lightgray;
}
.custom-text-field .MuiOutlinedInput-root:hover fieldset {
  border-color: lightgray;
}
.custom-text-field .MuiOutlinedInput-root.Mui-focused fieldset {
  border-color: lightgray;
}
.ListItemButton {
  border: 1px solid #B0B0B0 !important;
}

.custom-text-field .MuiInputLabel-root {
  color: lightgray;
}
.custom-text-field .MuiInputLabel-root.Mui-focused {
  color: lightgray;
}

.padButtons button {
  margin-right: 10px;
}

.padButtons button:last-child {
  margin-right: 0;
}


.stickTop {
  position: fixed;
  top: 2%;
}

.signupPageCard {
  background-color: #494949;
  padding: 2rem;
  border-radius: 1rem;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.3);
  max-width: 400px;
  margin: auto;
  margin-top: 10vh;
  display: flex;
  flex-direction: column;
}

.userAppBar {
  padding: 0.25rem 0.5rem;
  min-height: unset;
}


.appBarContent {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.leftContent {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.stickTopLeft {
  display: flex;
  gap: 0.5rem;
}
