.custom-text-field .MuiOutlinedInput-root {
    color: lightgray; /* Text input color */
  }
  .custom-text-field .MuiOutlinedInput-root fieldset {
    border-color: lightgray; /* Border color */
  }
  .custom-text-field .MuiOutlinedInput-root:hover fieldset {
    border-color: lightgray;
  }
  .custom-text-field .MuiOutlinedInput-root.Mui-focused fieldset {
    border-color: lightgray;
  }
  .custom-text-field .MuiInputLabel-root {
    color: lightgray; /* Label color */
  }
  .custom-text-field .MuiInputLabel-root.Mui-focused {
    color: lightgray;
  }